<% unless user_signed_in? %>
  <div class="hero">
    <div class="jumbotron center">
      <h1>Buy and Sell Manga or Anime</h1>
      <h2>from one otaku to another</h2>
    </div>
  </div>
<% end %>

<div class="container center">
  <div class="col-lg-6 add-padding">
    <div class="input-group pull-left">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <!-- Single button -->
  <div class="col-lg-6 add-padding">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Sort by <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Newest", listings_path(:newest => "true") %></li>
        <li><%= link_to "Manga", listings_path(:manga => "true") %></li>
        <li><%= link_to "Anime", listings_path(:anime => "true") %></li>
        <li><%= link_to "Memorabilia", listings_path(:memorabilia => "true") %></li>
      </ul>
    </div>
  </div>

  <div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-success", data: { no_turbolink: true } %>

<br>
<br>
</div>
